/*LOGO*/
.sidebar {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    position: relative;
    height: fit-content;
    width: 20%;

    background-color: black;
}